# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\eclipseworkspace14\BuildingWiring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
